<div class="container-fluid">
  <div class="row">
    <%#div class="d-block d-md-none mobile-content">
      <p>
        An awesome <br>website is <br> building here
      </p>
    </div> %>
    <div class="offset-md-1 d-none d-md-block col-md-3">
      <div class="text-center side-bar">
        <div class="my-info">
          <img class="img-fluid img-round" src="<%= image_path("andrey-spies.jpg") %>" alt="Profile image">
          <h1>Andrey Spies</h1>
          <h6>Full Stack Developer</h6>
          <ul>
            <li>
              <a href="#">HOME</a>
            </li>
            <li>
              <a href="#about">ABOUT</a>
            </li>
            <li>
              <a href="#skillset">SKILLSET</a>
            </li>
            <li>
              <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li>
              <a href="#contact">CONTACT</a>
            </li>
          </ul>
          <div class="social">
            <a id="linkedin" href="https://www.linkedin.com/in/andreyspies/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a id="github" href="https://github.com/AndreySpies" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a id="instagram" href="https://www.instagram.com/andreyspies/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <div class="presenting">
        <div class="home-info">
          <h1>
            I am <br> a Developer
          </h1>
          <p>
            I am a FullStack Developer <br>
            and I can build anything you want!
          </p>
          <a href="#portfolio">
            <span>
              View my Portfolio
            </span>
            &nbsp <i class="fas fa-briefcase"></i>
          </a>
        </div>
      </div>
      <div id="about" class="section bg-gray">
        <div class="section-content about-me-content">
          <h6>ABOUT ME</h6>
          <h1>WHO AM I?</h1>
          <p>
            <strong>Hi, I'm Andrey Spies.</strong>
            I was born in Sapiranga, a small city from
            the south of Brazil. I discovered programming
            when I was 13 with Visual Basic, where through
            Youtube tutorials, I was trying to build some
            small applications.
          </p>
          <p>
            In 2018, already 18 years old and still with
            doubt about what to do next after high school, I made
            a small course about programming basic concepts
            at Udacity, but which was enough to discover my
            passion for programming!
          </p>
          <p>
            So, after finished this course, I applied for
            the Le Wagon intensive and advanced 9-weeks
            coding bootcamp that I realized in São Paulo
            in period from January to March 2019. And now,
            I'm a 19 years old full stack developer!
          </p>
        </div>
      </div>
      <div id="skillset" class="section">
        <div class="section-content skillset-content">
          <h1>SKILLSET</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente, natus laboriosam numquam, rem quaerat consequuntur officiis eligendi libero, incidunt voluptatibus nobis voluptate tempore quo, culpa esse itaque sequi quae.</p>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="skillset-list">
                <h2>Development Skills</h2>
                <ul>
                  <% @development_skills = ['Ruby', 'Ruby on Rails', 'PostgreSQL', 'RESTful API', 'AJAX', 'HTML', 'CSS', 'Bootstrap', 'Heroku', 'Javascript ES6 (basics)'] %>
                  <% @development_skills.each do |dev_skill| %>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      <%= dev_skill %>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="skillset-list">
                <h2>Project Management Skills</h2>
                <ul>
                  <% @project_skills = ['Git', 'GitHub', 'Trello'] %>
                  <% @project_skills.each do |project_skill| %>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      <%= project_skill %>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="skillset-list">
                <h2>Personal Skills</h2>
                <ul>
                  <% @personal_skills = ['English', 'Playing Guitar', 'Gaming'] %>
                  <% @personal_skills.each do |personal_skill| %>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      <%= personal_skill %>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="portfolio" class="section bg-gray">
        <div class="section-content portfolio-content">
          <h6>MY PORTFOLIO</h6>
          <h1>SOME OF MY PROJECTS</h1>
          <div class="container">
            <div class="row" style="margin-left: -47px;">
              <div class="col-12 col-md-6">
                <a href="https://www.vitta.life" target="_blank" class="project-card">
                  <img class="img-fluid" src="<%= image_path("logo-vitta.png") %>" alt="">
                  <h2>vitta</h2>
                  <p>Vitta is a platform to find
                    doctors of a specific specialty
                    near you developed by me and my
                    group during the two weeks
                    project at Le Wagon Coding Bootcamp.
                  </p>
                </a>
              </div>
              <div class="col-12 col-md-6">
                <a href="http://qrti.com.br/" target="_blank" class="project-card">
                  <img class="img-fluid" src="<%= image_path("logo-quorus.png") %>" alt="">
                  <h2>quorus ti</h2>
                  <p>Quorus TI is a static webpage
                    for a technology company
                    from the south of Brazil.
                    Project which I developed before
                    really learning how to code in the
                    Bootcamp.
                  </p>
                </a>
              </div>
              <div class="col-12 col-md-6">
                <a href="https://gunsandbutter.herokuapp.com/" target="_blank" class="project-card">
                  <h1>G&B</h1>
                  <h2>guns and butter</h2>
                  <p>Guns and Butter is a simple
                    marketplace for military weapons
                    developed by me and my group
                    in the Marketplace Week at Le Wagon.
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact" class="section">
        <div class="section-content contact-content">
          <h6>CONTACT</h6>
          <h1>GET IN TOUCH</h1>
          <p>If you want, fell free to send me a message through this section.
            I'll answer you an soon as possible!</p>
          <div class="contact-form">
            <%= render 'pages/form', contact: @contact %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
